/* .toastui-editor-defaultUI-toolbar {
  height: auto;
}

.toastui-editor-toolbar-group > .toastui-editor-toolbar-icons {
  width: 1.5rem;
  height: 1.5rem;
} */

.toastui-editor-defaultUI {
  border: none;
}
.toastui-editor-defaultUI-toolbar {
  border-radius: 0;
}

.toastui-editor-mode-switch {
  display: none !important;
}

.toastui-editor-ww-container {
  background: inherit;
  color: inherit !important;
}
.toastui-editor-contents {
  background: inherit;
  color: inherit !important;
  font-size: 1.125rem;
}
